@import "../__styles__/theme.scss";

$semi-items-prefix-cls: "#{$semi-form-prefix}-formily-array-items";

.#{$semi-items-prefix-cls}-item-inner {
  visibility: visible;
}

.#{$semi-items-prefix-cls}-card {
  display: flex;
  border: 1px solid $border-color-split;
  margin-bottom: 10px;
  padding: 3px 6px;
  background: $card-background;
  justify-content: space-between;
  color: $text-color;

  .#{$semi-form-prefix}-formily-item:not(.#{$semi-form-prefix}-formily-item-feedback-layout-popover) {
    margin-bottom: 0 !important;

    .#{$semi-form-prefix}-formily-item-help {
      position: absolute;
      font-size: 12px;
      top: 100%;
      background: $card-background;
      width: 100%;
      margin-top: 3px;
      padding: 3px;
      z-index: 1;
      border-radius: 3px;
      box-shadow: 0 0 10px $border-color-split;
    }
  }
}

.#{$semi-items-prefix-cls}-divide {
  display: flex;
  border-bottom: 1px solid $border-color-split;
  padding: 10px 0;
  justify-content: space-between;

  .#{$semi-form-prefix}-formily-item:not(.#{$semi-form-prefix}-formily-item-feedback-layout-popover) {
    margin-bottom: 0 !important;

    .#{$semi-form-prefix}-formily-item-help {
      position: absolute;
      font-size: 12px;
      top: 100%;
      background: $card-background;
      width: 100%;
      margin-top: 3px;
      padding: 3px;
      z-index: 1;
      border-radius: 3px;
      box-shadow: 0 0 10px $border-color-split;
    }
  }
}
